body {
    font-family: 'Libre Franklin', sans-serif;
    background-image: linear-gradient(-225deg, #8952F9 0%, #5D54CA 100%);
    background-repeat: no-repeat;
    min-height: 100vh;
    color: #ffffff;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header {

}

header .top-nav {
    background: red;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-form {
    width: 100%;
    max-width: 430px;
}

/*
input {
    display: block;
}
*/

input[type="radio"],
input[type="checkbox"] {
    display: none;
}
input[type="radio"] + label,
input[type="checkbox"] + label {
    cursor: pointer;
    position: relative;
    padding: 10px 40px;
    margin: 5px 0;
    display: block;
}


/*Input checkbox icon*/

input[type="checkbox"] + label:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.05);
    border: 2px solid #000000;
    border-style: dotted;
}

input[type="checkbox"] + label:before {
    opacity: 0;
    content: url('../img/checkbox_check.svg');
    position: absolute;
    width: 27px;
    height: 26px;
    left: 6px;
    top: 50%;
    transform: translateY(-50%) translateY(-5px);
}

input[type="checkbox"]:checked ~ label:after {
    border-color: #ffffff;
}

input[type="checkbox"]:checked ~ label:before {
    opacity: 1;
}

/*Input radio icon*/

input[type="radio"] + label:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.05);
    border: 2px solid #000000;
    border-radius: 50%;
    border-style: dotted;
}

input[type="radio"] + label:before {
    opacity: 0;
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #ffffff;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}

input[type="radio"]:checked ~ label:after {
    border-color: #ffffff;
}

input[type="radio"]:checked ~ label:before {
    opacity: 1;
}

@media (min-width: 1200px) {
    .even-col-desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .flex-bottom-desktop {
        display: flex;
        align-items: flex-end;
}
}
